version: '3'
services:
  spark-master:
    image: spark-master:3.3.0-debian
    hostname: spark-master
    container_name : spark-master
    ports:
      - "8080:8080"
      - "7077:7077"
    environment:
      - INIT_DAEMON_STEP=setup_spark
    volumes:
      - ./apps:/opt/spark-apps
      - ./data:/data
      - ./jars:/jars/
    networks:
      - spark-hadoop-cluster


  spark-worker-1:
    image: spark-worker:3.3.0-debian
    container_name: spark-worker-1
    hostname: spark-worker-1
    depends_on:
      - spark-master
    ports:
      - "8081:8081"
    environment:
      - "SPARK_MASTER=spark://spark-master:7077"
    volumes:
      - ./apps:/opt/spark-apps
      - ./data:/data
      - ./jars:/jars/
    networks:
      - spark-hadoop-cluster

  # spark-worker-2:
  #   image:  spark-worker:3.3.0
  #   container_name: spark-worker-2
  #   hostname: spark-worker-2
  #   depends_on:
  #     - spark-master
  #   ports:
  #     - "8082:8081"
  #   environment:
  #     - "SPARK_MASTER=spark://spark-master:7077"
  #   volumes:
  #     - ./apps:/opt/spark-apps
  #     - ./data:/data
  #   networks:
  #     - spark-hadoop-cluster
  
  jupyter-notebook:
    image: spark-jupyter:3.3.0-debian
    container_name: jupyter-notebook
    hostname: jupyter-notebook
    # user: root
    # depends_on:
    #   - spark-master
    ports:
      - "8888:8888"
    # environment:
    #   - "GRANT_SUDO=yes"
    volumes:
      - ./data:/data
      - ./jars:/jars
      - ./jupyter_home:/home/jovyan
    networks:
      - spark-hadoop-cluster

networks:
  spark-hadoop-cluster:
    external: true